* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(13,107,0);
  background: linear-gradient(0deg, rgba(13,107,0,1) 0%, rgba(19,153,30,1) 35%, rgb(32, 77, 11) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.logo {
  background-image: url(imagens/imagem4.jpg);
  width: 15rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5rem;
  border: 0.1rem solid black;
  box-shadow: 3px 9px 20px 0px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

p {
  color: white;
  text-align: center;
}

.marcas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marcas img {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

#apple {
  width: 4rem;
  height: 2.5rem;
}

#samsung {
  width: 3rem;
  height: 3rem;
}

#xiaomi {
  width: 3rem;
  height: 3rem;
}

#motorola {
  width: 1.5rem;
  height: 1.5rem;
}

#lg {
  width: 3rem;
  height: 1.5rem;
}

.primeiro {
  margin-bottom: 0.5rem;
}

.segundo {
  margin-bottom: 0.5rem;
}

.botao {
  background-color:  rgb(72, 255, 87);
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.botao:hover {
  background-color:  rgb(91, 214, 103);
}

.botao a {
  text-decoration: none;
  color: black;
  font-style: italic;
  margin-right: 0.5rem;
}

.botao img {
  width: 1.3rem;
}

.consertos {
  display: flex;
  margin-bottom: 1rem;
}

.consertos img {
  width: 7.5rem;
  margin: 0.2rem;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}

.comentarios {
  display: flex;
  flex-direction: column;
}

.comentarios img {
  width: 21rem;
  margin-bottom: 1rem;
  box-shadow: 3px 9px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 25rem;
    height: 15rem;
    background-size: cover;
    border-radius: 10rem;
  }

  .botao {
    margin-bottom: 2rem;
  }

  .consertos {
    margin-bottom: 2rem;
  }
  
  .consertos img {
    width: 22rem;
    height: 20rem;
    margin-left: 2rem;
  }

  .comentarios {
    flex-direction: row;
  }

  .comentarios img {
    margin-left: 1rem;
    width: 20rem;
  }
}
